################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj
bin
.vs
*/packages/Mal.Mdk2.PbPackager.2.0.0-alpha032
