################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DriveTankRailsSelect/.vs/DriveTankRailsSelect
/DriveTankRailsSelect/bin
/DriveTankRailsSelect/obj
/TraderLightControl/.vs/TraderLightControl
/TraderLightControl/bin
/TraderLightControl/obj
